

/*===============Layout custom CSS start======================*/

.btn-size {
    width: 75px;
}

.postdiv {
    border: 1px solid #015B02;
    background-color: #ffffff !important;
}

.maindiv h3, h4, h5, h6 {
    margin: 0 0 -2em 0;
}

.headerdiv {
    border-bottom: 1px solid #015B02 !important;
    background: #297734 /*#2e8b57*/;
}

.titlediv {
    padding: .25em 3em .25em 3em !important;
}

    .titlediv h2 {
        font-size: 16px !important;
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 500 !important;
        text-transform: uppercase;
        color: #ffffff !important;
    }

.metadiv {
    padding: .25em 1em .25em 1em !important;
    border-left-color: #015B02 !important;
}

.metarow {
    color: #ffffff;
    float: right;
}

    .metarow a {
        border: none !important;
    }

input, select, textarea {
    max-width: 100% !important;
}

    input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
        border-radius: 5px;
    }

/*================Layout custom CSS end=====================*/


/*================Media Scrine CSS Start====================*/

@media screen and (max-width: 992px) {
    .col-wide {
        width: 100%;
        padding: 0 15px;
    }
}

/*================Media Scrine CSS End====================*/


/*================== Custom Dropdown Nav Start ==========================*/

#header .links {
    padding-top: 12pt;
    font-size: 9pt;
}

ul #navmenu, ul.sub1, ul.sub2 {
    list-style-type: none;
}

    ul#navmenu li {
        min-width: 100px;
        text-align: center;
        position: relative;
        float: left;
        margin-right: 3px;
    }

    ul#navmenu a {
        text-decoration: none;
        display: block;
        min-width: 100px;
        line-height: 25px;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 5px;
    }


    ul#navmenu .sub1 a {
        margin-top: 5px;
    }

    ul#navmenu .sub2 a {
        margin-left: 5px;
    }

    ul#navmenu li:hover > a {
        background-color: #FFF;
    }

    ul#navmenu li:hover a:hover {
        background-color: #FFF;
       
    }

    ul#navmenu ul.sub1 {
        display: none;
        position: absolute;
        top: 26px;
        left: 0px;
    }

    ul#navmenu ul.sub2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 100px;
    }

    ul#navmenu li:hover .sub1, .sub2 {
        display: block;
    }

    ul#navmenu .sub1 li:hover .sub2 {
        display: block;
    }

.darrow {
    font-size: 10pt;
    position: absolute;
    top: -14px;
    right: 6px;
}

.rarrow {
    font-size: 10pt;
    position: absolute;
    top: -10px;
    right: 5px;
}
/*================== Custom Dropdown Nav End ==========================*/


/*==============Jquery date picker custom CSS start=================*/

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 100% !important;
}

/*.ui-datepicker {
    width: auto;
}*/

/*===============Jquery date picker custom CSS end===================*/
