
@{
    ViewBag.Title = "Demo";
}

<div class="post postdiv">
    <header class="headerdiv">
        <div class="title titlediv">
            <h2><span><a><i class="glyphicon glyphicon-hand-right"></i></a>&nbsp;</span><a href="#">Demo Title</a></h2>

        </div>
        <div class="meta metadiv">
            <div class="row metarow">
                <a href="#" title="User" data-toggle=""><i class="fa fa-user"></i></a>
                <a href="#" title="Search" data-toggle=""><i class="fa fa-search"></i></a>
                <a href="#" title="Setting" data-toggle=""><i class="fa fa-gear"></i></a>
                <a href="#divCollapse" title="Collapse" data-toggle="collapse"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </header>

    <div id="divCollapse" class="collapse in text-justify maindiv ">
        <p> Your From Related Action Write Here.</p>
    </div>

</div>
